<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	
		<property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
		<property name="connection.username">root</property>
		<property name="connection.password">password</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- 开启二级缓存-->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<!-- 指定缓存产品提供商 @see http://blog.csdn.net/chaoowang/article/details/21236501 -->
		<!-- <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property> -->
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property> 
		<!-- load  iterator默认使用二级缓存 -->
		<!-- 如果要query使用二级缓存，需打开查询缓存 -->
		<!-- list默认往二级缓存加数据，但是查询的时候不使用-->
		<property name="cache.use_query_cache">true</property> 
		
		<!--HQL-->
		<mapping resource="com/somnus/model/hql/Student.hbm.xml"/>
		<mapping resource="com/somnus/model/hql/Course.hbm.xml"/>
		<mapping resource="com/somnus/model/hql/Score.hbm.xml"/>  
		<!--多对一  -->
		<mapping resource="com/somnus/model/manyToOne/Customer.hbm.xml"/>
		<mapping resource="com/somnus/model/manyToOne/Order.hbm.xml"/>
		
		<!--一对一主键单向--> 
		<mapping resource="com/somnus/model/oneToOnePkUnidirectional/PUPerson.hbm.xml"/>
		<mapping resource="com/somnus/model/oneToOnePkUnidirectional/PUIdCard.hbm.xml"/> 
		
		<!--一对一主键双向-->
		<mapping resource="com/somnus/model/oneToOnePkBidirectional/PBPerson.hbm.xml"/>
		<mapping resource="com/somnus/model/oneToOnePkBidirectional/PBIdCard.hbm.xml"/> 
		
		<!--一对一外键单向-->  
		<mapping resource="com/somnus/model/oneToOneFkUnidirectional/FUPerson.hbm.xml"/>
		<mapping resource="com/somnus/model/oneToOneFkUnidirectional/FUIdCard.hbm.xml"/>
		
		<!--一对一外键双向 -->
		<mapping resource="com/somnus/model/oneToOneFkBidirectional/FBPerson.hbm.xml"/>
		<mapping resource="com/somnus/model/oneToOneFkBidirectional/FBIdCard.hbm.xml"/> 
		
		<!--一对多单向-->  
		<mapping resource="com/somnus/model/oneToManyUnidirectional/UStudent.hbm.xml"/>
		<mapping resource="com/somnus/model/oneToManyUnidirectional/UClasses.hbm.xml"/>
		
		<!--一对多双向-->
		<mapping resource="com/somnus/model/oneToManyBidirectional/BStudent.hbm.xml"/>
		<mapping resource="com/somnus/model/oneToManyBidirectional/BClasses.hbm.xml"/>  
		
		<!--多对多单向 -->
		<mapping resource="com/somnus/model/manyToManyUnidirectional/URole.hbm.xml"/>
		<mapping resource="com/somnus/model/manyToManyUnidirectional/UUser.hbm.xml"/>
		
		<!--多对多双向 -->
		<mapping resource="com/somnus/model/manyToManyBidirectional/BRole.hbm.xml"/>
		<mapping resource="com/somnus/model/manyToManyBidirectional/BUser.hbm.xml"/>
		
		<!-- 继承-->
		<mapping resource="com/somnus/model/inheritenceSingleTable/Animal.hbm.xml"/>
		<mapping resource="com/somnus/model/inheritencePerClass/Flower.hbm.xml"/>
		<mapping resource="com/somnus/model/inheritenceJoined/Fish.hbm.xml"/>
		
		
		<mapping resource="com/somnus/model/tree/Dept.hbm.xml"/>
		
		<!-- 指定哪些类使用二级缓存 
		<class-cache class="com.somnus.model.manyToOne.Customer" usage="read-only" />-->
	</session-factory>
</hibernate-configuration>

